.body_backgorund 
{
    background-image:url(hOye.gif);
    background-position:center;
    background-size:cover;
}

#myCanvas
{
    border-width: 10px;
    background-color: rgb(197, 245, 238);
    border-style: ridge;
    border-color: rgb(113, 221, 185);
}